CREATE TABLE [dbo].[EmergencyRequests](
	[RequestId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[ServiceId] [int] NOT NULL,
	[ProviderId] [int] NULL,
	[RequestTime] [datetime] NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[ResponseTime] [datetime] NULL,
	[Notes] [text] NULL,
	[TownshipCode] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[RequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmergencyServices]    Script Date: 11/13/2024 11:00:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmergencyServices](
	[ServiceId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[ServiceGroup] [nvarchar](50) NOT NULL,
	[ServiceType] [nvarchar](50) NOT NULL,
	[ServiceName] [nvarchar](100) NOT NULL,
	[PhoneNumber] [nvarchar](15) NOT NULL,
	[Location] [nvarchar](max) NULL,
	[Availability] [char](1) NULL,
	[TownshipCode] [nvarchar](200) NULL,
	[ServiceStatus] [varchar](10) NULL,
	[Lng] [decimal](18, 4) NULL,
	[ltd] [decimal](18, 4) NULL,
 CONSTRAINT [PK__Emergenc__C51BB00A372E00BB] PRIMARY KEY CLUSTERED 
(
	[ServiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StateRegions]    Script Date: 11/13/2024 11:00:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StateRegions](
	[StateRegionId] [int] IDENTITY(1,1) NOT NULL,
	[StateRegionCode] [nvarchar](50) NOT NULL,
	[StateRegionNameEn] [nvarchar](200) NOT NULL,
	[StateRegionNameMm] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[StateRegionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Townships]    Script Date: 11/13/2024 11:00:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Townships](
	[TownshipId] [int] IDENTITY(1,1) NOT NULL,
	[TownshipCode] [nvarchar](50) NOT NULL,
	[TownshipNameEn] [nvarchar](200) NOT NULL,
	[TownshipNameMm] [nvarchar](200) NOT NULL,
	[StateRegionCode] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__Township__8399C0933CD7D010] PRIMARY KEY CLUSTERED 
(
	[TownshipId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 11/13/2024 11:00:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[PhoneNumber] [nvarchar](20) NOT NULL,
	[Address] [nvarchar](300) NOT NULL,
	[EmergencyType] [nvarchar](50) NULL,
	[EmergencyDetails] [nvarchar](max) NULL,
	[TownshipCode] [nvarchar](100) NOT NULL,
	[Role] [nvarchar](100) NOT NULL,
	[UserStatus] [varchar](11) NULL,
	[OTP] [varchar] (50)
 CONSTRAINT [PK__Users__1788CC4C78D5D195] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[EmergencyRequests] ON 

INSERT [dbo].[EmergencyRequests] ([RequestId], [UserId], [ServiceId], [ProviderId], [RequestTime], [Status], [ResponseTime], [Notes], [TownshipCode]) VALUES (101, 72, 2, 36, CAST(N'2024-10-30T07:10:19.940' AS DateTime), N'Pending', CAST(N'2024-10-30T12:55:19.940' AS DateTime), N'Emergency reported by user_1', N'MMR013038')
INSERT [dbo].[EmergencyRequests] ([RequestId], [UserId], [ServiceId], [ProviderId], [RequestTime], [Status], [ResponseTime], [Notes], [TownshipCode]) VALUES (102, 59, 4, 23, CAST(N'2024-10-30T07:39:19.940' AS DateTime), N'Pending', NULL, N'Emergency reported by user_2', N'MMR013044')
INSERT [dbo].[EmergencyRequests] ([RequestId], [UserId], [ServiceId], [ProviderId], [RequestTime], [Status], [ResponseTime], [Notes], [TownshipCode]) VALUES (103, 95, 2, 50, CAST(N'2024-10-30T09:18:19.940' AS DateTime), N'Pending', NULL, N'Emergency reported by user_3', N'MMR013016')
GO
SET IDENTITY_INSERT [dbo].[EmergencyRequests] OFF
GO
SET IDENTITY_INSERT [dbo].[EmergencyServices] ON 

INSERT [dbo].[EmergencyServices] ([ServiceId], [UserId], [ServiceGroup], [ServiceType], [ServiceName], [PhoneNumber], [Location], [Availability], [TownshipCode], [ServiceStatus]) VALUES (1, 1, N'EmergencyServices', N'Rescue', N'Rescue_Service_1', N'09-5.03254e+008', N'Location_1', N'Y', N'MMR017001', N'Approved')
INSERT [dbo].[EmergencyServices] ([ServiceId], [UserId], [ServiceGroup], [ServiceType], [ServiceName], [PhoneNumber], [Location], [Availability], [TownshipCode], [ServiceStatus]) VALUES (2, 1, N'EmergencyServices', N'Rescue', N'Rescue_Service_2', N'09-7.7252e+008', N'Location_2', N'N', N'MMR013043', N'Approved')
INSERT [dbo].[EmergencyServices] ([ServiceId], [UserId], [ServiceGroup], [ServiceType], [ServiceName], [PhoneNumber], [Location], [Availability], [TownshipCode], [ServiceStatus]) VALUES (3, 1, N'EmergencyServices', N'Fire', N'Fire_Service_3', N'09-9.92677e+006', N'Location_3', N'N', N'MMR015018', N'Approved')
GO
SET IDENTITY_INSERT [dbo].[EmergencyServices] OFF
GO
SET IDENTITY_INSERT [dbo].[StateRegions] ON 

INSERT [dbo].[StateRegions] ([StateRegionId], [StateRegionCode], [StateRegionNameEn], [StateRegionNameMm]) VALUES (1, N'MMR001', N'Kachin', N'ကချင်ပြည်နယ်')
INSERT [dbo].[StateRegions] ([StateRegionId], [StateRegionCode], [StateRegionNameEn], [StateRegionNameMm]) VALUES (2, N'MMR002', N'Kayah', N'ကယားပြည်နယ်')
INSERT [dbo].[StateRegions] ([StateRegionId], [StateRegionCode], [StateRegionNameEn], [StateRegionNameMm]) VALUES (3, N'MMR003', N'Kayin', N'ကရင်ပြည်နယ်')
SET IDENTITY_INSERT [dbo].[StateRegions] OFF
GO
SET IDENTITY_INSERT [dbo].[Townships] ON 

INSERT [dbo].[Townships] ([TownshipId], [TownshipCode], [TownshipNameEn], [TownshipNameMm], [StateRegionCode]) VALUES (1, N'MMR017024', N'Bogale', N'ဘိုကလေး', N'MMR017')
INSERT [dbo].[Townships] ([TownshipId], [TownshipCode], [TownshipNameEn], [TownshipNameMm], [StateRegionCode]) VALUES (2, N'MMR017022', N'Danubyu', N'ဓနုဖြူ', N'MMR017')
INSERT [dbo].[Townships] ([TownshipId], [TownshipCode], [TownshipNameEn], [TownshipNameMm], [StateRegionCode]) VALUES (3, N'MMR017026', N'Dedaye', N'ဒေးဒရဲ', N'MMR017')
GO
SET IDENTITY_INSERT [dbo].[Townships] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [Name], [Email], [Password], [PhoneNumber], [Address], [EmergencyType], [EmergencyDetails], [TownshipCode], [Role], [UserStatus]) VALUES (1, N'User_1', N'User_1@gmail.com', N'User_1@gmail.com', N'09-5.73559e+008', N'Address_1', N'Fire', N'Severe injury accident', N'MMR015008', N'Service Provider', N'Pending')
INSERT [dbo].[Users] ([UserId], [Name], [Email], [Password], [PhoneNumber], [Address], [EmergencyType], [EmergencyDetails], [TownshipCode], [Role], [UserStatus]) VALUES (2, N'User_2', N'User_2@gmail.com', N'User_2@gmail.com', N'09-3.77564e+008', N'Address_2', N'Medical', N'Severe injury accident', N'MMR003002', N'Service Provider', N'Pending')
INSERT [dbo].[Users] ([UserId], [Name], [Email], [Password], [PhoneNumber], [Address], [EmergencyType], [EmergencyDetails], [TownshipCode], [Role], [UserStatus]) VALUES (3, N'User_3', N'User_3@gmail.com', N'User_3@gmail.com', N'09-8.44637e+008', N'Address_3', N'Medical', N'Severe injury accident', N'MMR016007', N'Service Provider', N'Pending')
GO
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[EmergencyRequests] ADD  DEFAULT (getdate()) FOR [RequestTime]
GO
ALTER TABLE [dbo].[EmergencyServices] ADD  CONSTRAINT [DF__Emergency__Servi__403A8C7D]  DEFAULT ('Pending') FOR [ServiceStatus]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_UserStatus]  DEFAULT ('Pending') FOR [UserStatus]
GO


/****** Object:  StoredProcedure [dbo].[sp_Dashboard_Process]    Script Date: 12/15/2024 6:13:11 PM ******/
DROP PROCEDURE [dbo].[sp_Dashboard_Process]
GO

/****** Object:  StoredProcedure [dbo].[sp_Dashboard_Process]    Script Date: 12/15/2024 6:13:11 PM ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO















-----------------------------------
-- Test Script
-----------------------------------
/*
DBCC DROPCLEANBUFFERS
GO 

DECLARE @UserId			nvarchar(50)	SET @UserId='HEIN'

EXEC sp_Dashboard_Process	@UserId

*/

------------------------------------------------------------------------------------------------------------------------------------------------------------
-- Change History
------------------------------------------------------------------------------------------------------------------------------------------------------------
-- 15/De/2024 HEIN	- create the sp for Dashboard
------------------------------------------------------------------------------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[sp_Dashboard_Process]    
	( 
	@UserId					nvarchar(50)
	) 
AS
BEGIN

	EXEC dbo.sp_Dashboard_DailyWeeklyMonthlyPerRequest		@UserId
	
	EXEC dbo.sp_Dashboard_TopTenServicePerTownship			@UserId
	
END



















GO


---------------------------------------------------------------------------------------------
--END Of sp_Dashboard_Process 
---------------------------------------------------------------------------------------------

/****** Object:  StoredProcedure [dbo].[sp_Dashboard_TopTenServicePerTownship]    Script Date: 12/15/2024 6:13:11 PM ******/
DROP PROCEDURE [dbo].[sp_Dashboard_TopTenServicePerTownship]
GO

/****** Object:  StoredProcedure [dbo].[sp_Dashboard_TopTenServicePerTownship]    Script Date: 12/15/2024 6:13:11 PM ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


-----------------------------------
-- Test Script
-----------------------------------
/*
DBCC DROPCLEANBUFFERS
GO 

DECLARE @UserId			nvarchar(50)	SET @UserId='HEIN'

EXEC sp_Dashboard_TopTenServicePerTownship	@UserId

select * from EmergencyRequests
*/

------------------------------------------------------------------------------------------------------------------------------------------------------------
-- Change History
------------------------------------------------------------------------------------------------------------------------------------------------------------
-- 15/De/2024 HEIN	- create the sp for Dashboard
------------------------------------------------------------------------------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[sp_Dashboard_TopTenServicePerTownship]    
	( 
	@UserId					nvarchar(50)
	) 
AS
BEGIN
	------------------------------------------------------------------------------------------------------------------------------------------------------------
	-- Create Temp Table to Return Data 
	------------------------------------------------------------------------------------------------------------------------------------------------------------
	CREATE TABLE #TopTenServicePerTownship
	(	
		TownshipCode	 NVARCHAR(100),
		TownshipNameEn	 NVARCHAR(300),
		TownshipNameMM	 NVARCHAR(300),
		Count				INT
	);
	------------------------------------------------------------------------------------------------------------------------------------------------------------
	-- Retrieving Daily Request
	------------------------------------------------------------------------------------------------------------------------------------------------------------
	DECLARE @DailyRequest INT  SET @DailyRequest = 0
	SELECT @DailyRequest = COUNT(*) FROM EmergencyRequests (NOLOCK) WHERE CONVERT(DATE,RequestTime) = CONVERT(DATE,GETDATE())

	------------------------------------------------------------------------------------------------------------------------------------------------------------
	-- Retrieving Weekly Request
	------------------------------------------------------------------------------------------------------------------------------------------------------------
	DECLARE @WeeklyRequest INT  SET @WeeklyRequest = 0
	SELECT @WeeklyRequest = COUNT(*) FROM EmergencyRequests (NOLOCK) WHERE CONVERT(DATE,RequestTime) BETWEEN CONVERT(DATE,GETDATE()-7) AND CONVERT(DATE,GETDATE())

	------------------------------------------------------------------------------------------------------------------------------------------------------------
	-- Retrieving Monthly Request
	------------------------------------------------------------------------------------------------------------------------------------------------------------
	DECLARE @MonthlyRequest INT  SET @MonthlyRequest = 0
	SELECT @MonthlyRequest= COUNT(*) FROM EmergencyRequests WHERE CONVERT(DATE,RequestTime) BETWEEN CONVERT(DATE,DATEADD(month, -1, GETDATE())) AND CONVERT(DATE,GETDATE())

	INSERT INTO #TopTenServicePerTownship
	(TownshipCode, TownshipNameEn, TownshipNameMM, Count ) 
	SELECT TOP 10 T.TownshipCode,T.TownshipNameEn, T.TownshipNameMm,COUNT(T.TownshipCode) from EmergencyRequests AS ER
    INNER JOIN Townships AS T ON T.TOWNSHIPCODE = ER.TownshipCode GROUP BY T.TownshipCode,T.TownshipNameEn, T.TownshipNameMm ORDER BY COUNT(T.TownshipCode) DESC


	SELECT * FROM #TopTenServicePerTownship
	DROP TABLE #TopTenServicePerTownship
END



---------------------------------------------------------------------------------------------
--END Of sp_Dashboard_TopTenServicePerTownship 
---------------------------------------------------------------------------------------------

/****** Object:  StoredProcedure [dbo].[sp_Dashboard_DailyWeeklyMonthlyPerRequest]    Script Date: 12/15/2024 6:13:11 PM ******/
DROP PROCEDURE [dbo].[sp_Dashboard_DailyWeeklyMonthlyPerRequest]
GO

/****** Object:  StoredProcedure [dbo].[sp_Dashboard_DailyWeeklyMonthlyPerRequest]    Script Date: 12/15/2024 6:13:11 PM ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO















-----------------------------------
-- Test Script
-----------------------------------
/*
DBCC DROPCLEANBUFFERS
GO 

DECLARE @UserId			nvarchar(50)	SET @UserId='HEIN'

EXEC sp_Dashboard_DailyWeeklyMonthlyPerRequest	@UserId

select * from EmergencyRequests
*/

------------------------------------------------------------------------------------------------------------------------------------------------------------
-- Change History
------------------------------------------------------------------------------------------------------------------------------------------------------------
-- 15/De/2024 HEIN	- create the sp for Dashboard
------------------------------------------------------------------------------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[sp_Dashboard_DailyWeeklyMonthlyPerRequest]    
	( 
	@UserId					nvarchar(50)
	) 
AS
BEGIN
	------------------------------------------------------------------------------------------------------------------------------------------------------------
	-- Create Temp Table to Return Data 
	------------------------------------------------------------------------------------------------------------------------------------------------------------
	CREATE TABLE #RequestSummary
	(	
		DailyRequest INT,
		WeeklyRequest INT,
		MonthlyRequest INT
	);
	------------------------------------------------------------------------------------------------------------------------------------------------------------
	-- Retrieving Daily Request
	------------------------------------------------------------------------------------------------------------------------------------------------------------
	DECLARE @DailyRequest INT  SET @DailyRequest = 0
	SELECT @DailyRequest = COUNT(*) FROM EmergencyRequests (NOLOCK) WHERE CONVERT(DATE,RequestTime) = CONVERT(DATE,GETDATE())

	------------------------------------------------------------------------------------------------------------------------------------------------------------
	-- Retrieving Weekly Request
	------------------------------------------------------------------------------------------------------------------------------------------------------------
	DECLARE @WeeklyRequest INT  SET @WeeklyRequest = 0
	SELECT @WeeklyRequest = COUNT(*) FROM EmergencyRequests (NOLOCK) WHERE CONVERT(DATE,RequestTime) BETWEEN CONVERT(DATE,GETDATE()-7) AND CONVERT(DATE,GETDATE())

	------------------------------------------------------------------------------------------------------------------------------------------------------------
	-- Retrieving Monthly Request
	------------------------------------------------------------------------------------------------------------------------------------------------------------
	DECLARE @MonthlyRequest INT  SET @MonthlyRequest = 0
	SELECT @MonthlyRequest= COUNT(*) FROM EmergencyRequests WHERE CONVERT(DATE,RequestTime) BETWEEN CONVERT(DATE,DATEADD(month, -1, GETDATE())) AND CONVERT(DATE,GETDATE())

	INSERT INTO #RequestSummary(DailyRequest, WeeklyRequest, MonthlyRequest) VALUES 
		(@DailyRequest, @WeeklyRequest, @MonthlyRequest )

	SELECT * FROM #RequestSummary
	DROP TABLE #RequestSummary
END




---------------------------------------------------------------------------------------------
--END Of sp_Dashboard_DailyWeeklyMonthlyPerRequest 
---------------------------------------------------------------------------------------------




GO


/****** Object:  StoredProcedure [dbo].[sp_Dashboard_TopTenServicePerTownship]    Script Date: 12/18/2024 6:13:11 PM ******/
DROP PROCEDURE [dbo].[sp_Dashboard_TopTenServicePerTownship]
GO

/****** Object:  StoredProcedure [dbo].[sp_Dashboard_TopTenServicePerTownship]    Script Date: 12/18/2024 6:13:11 PM ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


-----------------------------------
-- Test Script
-----------------------------------
/*
DBCC DROPCLEANBUFFERS
GO 

DECLARE @UserId			nvarchar(50)	SET @UserId='HEIN'

EXEC sp_Dashboard_TopTenServicePerTownship	@UserId

*/

------------------------------------------------------------------------------------------------------------------------------------------------------------
-- Change History
------------------------------------------------------------------------------------------------------------------------------------------------------------
-- 17/De/2024 Hnin Wutt Yi	- create the sp for Dashboard
------------------------------------------------------------------------------------------------------------------------------------------------------------
-- 18/De/2024 Hnin Wutt Yi	- update the sp for Dashboard
------------------------------------------------------------------------------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[sp_Dashboard_TopTenServicePerTownship]    
	( 
	@UserId					nvarchar(50)
	) 
AS
BEGIN
	------------------------------------------------------------------------------------------------------------------------------------------------------------
	-- Create Temp Table to Return Data 
	------------------------------------------------------------------------------------------------------------------------------------------------------------
	CREATE TABLE #TopTenServicePerTownship
	(	
		TownshipCode	 NVARCHAR(100),
		TownshipNameEn	 NVARCHAR(300),
		TownshipNameMM	 NVARCHAR(300),
		Count				INT
	);
	
	INSERT INTO #TopTenServicePerTownship
	(TownshipCode, TownshipNameEn, TownshipNameMM, Count ) 
	SELECT TOP 10 T.TownshipCode,T.TownshipNameEn, T.TownshipNameMm,COUNT(T.TownshipCode) from EmergencyServices AS ES
    INNER JOIN Townships AS T ON T.TOWNSHIPCODE = ES.TownshipCode GROUP BY T.TownshipCode,T.TownshipNameEn, T.TownshipNameMm ORDER BY COUNT(T.TownshipCode) DESC


	SELECT * FROM #TopTenServicePerTownship
	DROP TABLE #TopTenServicePerTownship
END

---------------------------------------------------------------------------------------------
--END Of sp_Dashboard_TopTenServicePerTownship 
---------------------------------------------------------------------------------------------



GO

------------------------------------------------------------------------------------------------------------------------------------------------------------
-- Change History
------------------------------------------------------------------------------------------------------------------------------------------------------------
-- 20/Dec/2024 Su Sandar Lin	- create the sp for Dashboard
------------------------------------------------------------------------------------------------------------------------------------------------------------

DROP PROCEDURE [dbo].[sp_Dashboard_TopTenRequestPerUser]
GO

/****** Object:  StoredProcedure [dbo].[sp_Dashboard_TopTenRequestPerUser] ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_Dashboard_TopTenRequestPerUser]

AS

BEGIN
	------------------------------------------------------------------------------------------------------------------------------------------------------------
	-- Create Temp Table to Return Data 
	------------------------------------------------------------------------------------------------------------------------------------------------------------
	CREATE TABLE #TopTenRequestPerUser
	(	
		UserId			INT,
		UserName		NVARCHAR(200),
		UserEmail		NVARCHAR(50),
		UserPhoneNumber	NVARCHAR(20),
		UserAddress		NVARCHAR(300),
		Count			INT
	);
	
	INSERT INTO #TopTenRequestPerUser
	(UserId, UserName, UserEmail, UserPhoneNumber, UserAddress, Count ) 

	SELECT TOP 10 
	    U.UserId, 
	    U.Name, 
	    U.Email,
		U.PhoneNumber,
		U.Address,
	    COUNT(U.UserId) AS UserCount
	FROM EmergencyRequests AS ER
	INNER JOIN Users AS U ON U.UserId = ER.UserId
	INNER JOIN EmergencyServices AS ES ON ES.ServiceId = ER.ServiceId
	GROUP BY 
	    U.UserId, 
	    U.Name, 
	    U.Email,
		U.PhoneNumber,
		U.Address
	ORDER BY UserCount DESC

	SELECT * FROM #TopTenRequestPerUser
	DROP TABLE #TopTenRequestPerUser
END

---------------------------------------------------------------------------------------------
--END Of [sp_Dashboard_TopTenRequestPerUser]
---------------------------------------------------------------------------------------------

GO

------------------------------------------------------------------------------------------------------------------------------------------------------------
-- Change History
------------------------------------------------------------------------------------------------------------------------------------------------------------
-- 22/Dec/2024 Su Sandar Lin	- create the sp for Report
------------------------------------------------------------------------------------------------------------------------------------------------------------

DROP PROCEDURE [dbo].[sp_Dashboard_ServiceProviderActivity]
GO

/****** Object:  StoredProcedure [dbo].[sp_Dashboard_ServiceProviderActivity] ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_Dashboard_ServiceProviderActivity]

AS

BEGIN
	------------------------------------------------------------------------------------------------------------------------------------------------------------
	-- Create Temp Table to Return Data 
	------------------------------------------------------------------------------------------------------------------------------------------------------------
	CREATE TABLE #ServiceProviderActivity
	(	
		ServiceId		INT,
		ServiceName		NVARCHAR(100),
		ServiceType		NVARCHAR(50),
		PhoneNumber		NVARCHAR(15),
		Location		NVARCHAR(MAX),
		Count			INT
	);
	
	INSERT INTO #ServiceProviderActivity
	(ServiceId, ServiceName, ServiceType, PhoneNumber, Location, Count ) 

	SELECT ER.ServiceId
			,ES.ServiceName
			,ES.ServiceType
			,ES.PhoneNumber
			,ES.Location
			,Count(ER.ServiceId) AS ServiceCount
	FROM EmergencyRequests AS ER
	INNER JOIN EmergencyServices AS ES ON ES.ServiceId = ER.ServiceId
	WHERE Status = 'Completed'
	GROUP BY ER.ServiceId
		,ES.ServiceName
	    ,ES.[ServiceType]
	    ,ES.[PhoneNumber]
	    ,ES.[Location]
	ORDER BY ServiceCount DESC

	SELECT * FROM #ServiceProviderActivity
	DROP TABLE #ServiceProviderActivity
END

---------------------------------------------------------------------------------------------
--END Of [sp_Dashboard_ServiceProviderActivity]
---------------------------------------------------------------------------------------------

GO